<%- include('./partials/meta.ejs') %>
    <h1>Skyrockit</h1>
    <p>A job application tracker.</p>
    <p><a href="/auth/sign-up">sign up</a> or <a href="/auth/sign-in">sign in</a></p>
  </body>
</html>
